<div *ngIf="show" class="login">
  <div></div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="logo">
      <img src="assets/images/giphy_logo_square_social.png" />
    </div>

    <div class="login-box">
      <input minlength="2" formControlName="username" type="text" class="no-select" placeholder="Username" name="username" required />
      <div class="messages" *ngIf="submitted">
      <span *ngIf="username.invalid">
          * Invalid username
        </span>
      </div>
      <input minlength="8" formControlName="password" type="password" class="no-select" placeholder="Password" name="password" required />
      <div class="messages" *ngIf="submitted">
        <span *ngIf="password.invalid">
          * Invalid password
        </span>
      </div>
      <div class="messages" *ngIf="submitted && loginError">
        <span>* {{loginError}}</span>
      </div>
      <div class="container">
          <div class="right">
            <button type="submit">Sign in</button>
          </div>
          <div class="left">
            <button type="button" class="cancel-btn" (click)="hide()">Cancel</button>
          </div>
      </div>
    </div>
  </form>
</div>
