<div class="content">
    <div (click)="backward()" *ngIf="prevPage" class="nav-left"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
    <div class="center-box">
        <div class="messages">
            <span class="messages">{{error}}</span>
            <div *ngIf="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
        <ul class="gif-group" *ngIf="!loading">
            <li class="gif" *ngFor="let gif of results">
                <div class="gif-container">
                    <a target="_blank" href="{{gif.links.original.url}}">
                        <img src="{{gif.links.preview.url}}" title="{{gif.title}}" />
                    </a>
                    <div [style.width.px]="gif.links.preview.width"  class="title">{{gif.title.replace(" GIF", "")}}</div>
                    <div>
                        <app-favorite [id]="gif.id" [favorited]="isFavorited(gif.id)"></app-favorite>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div (click)="forward()" *ngIf="nextPage" class="nav-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
</div>
