.content {
  z-index: 1; /* Login box needs to go on top */
  background-color: rgba(38, 38, 38);
  opacity: 0.9;
  box-shadow: 3px -3px #888888;
  border: solid 2px #888888;
  margin: 20px 15px 50px 10px;
  display: flex;
  flex-grow: 1;
  border-radius: 6px;
  height: 100%;
}

.nav-left, .nav-right {
  background-color: rgba(40, 40, 40);
  opacity: 0.9;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}
.nav-left > fa, .nav-right > fa {
  order: 1;
}
.nav-left:hover, .nav-right:hover {
  background-color: #606060;
}

.messages {
  order: 1;

  line-height: 2em;
  font-weight: 600;
  color: white;
  padding: 10px;
  line-height: 1.5em;
  text-align: center;
  margin-top: 10px;
}
.messages > .lds-ellipsis {
  font-weight: normal;
  font-size: 8pt;
}

.nav-left {
  order: 2;
  border-right: solid 1px #606060;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.center-box {
  flex-grow: 1;
  order: 3;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: scroll;
}

.center-box::-webkit-scrollbar { 
  display: none; 
} 

.gif-group {
  padding: 0px;
  list-style: none;
  margin: 0px 0px 25px 0px;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.nav-right {
  order: 4;
  border-left: solid 1px #606060;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.gif {
  text-decoration: none;  
  color: white;
  text-align: left;
}

.gif-container {
  margin: 2px 0px;
  max-width: 200px;
  overflow: hidden;
  cursor: pointer;
  border: solid 1px transparent;

  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  border-radius: 3px;
  background-color: #2e3035;

  min-height: 120px;
}

.gif-container > div {
  /*padding: 5px 0px;*/
  transition: background .3s;
}
.title {
  font-weight: 600;
  line-height: 1.14;
  font-size: 12px;
  text-align: left;
  color: #fff;
  /* display: inline-block; */
  overflow: hidden;
  padding: 5px 5px;
  text-transform: lowercase;
  word-wrap: break-word;
  box-sizing: content-box;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title::first-letter {
  text-transform: uppercase;
}
.title::after {
  content: " ";
  white-space: pre;
  padding-top: 5px;
}
/*
.gif-container:hover {
  background-color: #606060;
  border: solid 1px #2e3035;
}
*/

.gif-container > img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* https://loading.io/css/ */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fdd;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}