<div (clickOutside)="onBlur($event)" [excludeBeforeClick]="true" [exclude]="'app-favorite'" class="profile-container">
    <a *ngIf="!loggedIn" (click)="showSignIn()" class="sign-in" href="#">Sign in</a>
    <app-login></app-login>
    <a *ngIf="!loggedIn" (click)="showSignUp()" class="sign-up" title="Sign up" href="#"><span class="button-label">Sign up</span></a>
    <app-signup></app-signup>
    <div *ngIf="loggedIn">
        <a (click) = "logout()" href="#" class="sign-up" title="Logout">Logout</a>
    </div>
</div>