div {
    /*background-color: green;*/
}

.profile-container {
    align-content: right;
    float: right;
}

.profile-container a {
    text-decoration: none;
}

.sign-in {
    margin: auto 8px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    text-shadow: 0 14px 15px rgba(27,28,30,.31);
    white-space: nowrap;
    vertical-align: middle;
}

.sign-up {
    min-width: 80px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    text-transform: none;
    user-select: none;
    touch-action: manipulation;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    width: auto;
    background-color: #1bb76e;
    box-shadow: 0 6px 10px 0 rgba(27,28,30,.31);
    color: #fff;
    white-space: nowrap;
}