<hr />
<div class="actions">
    <i (click)="setUnsetFavorite()" class="fav fa" [ngClass]="{'fa-heart-o': !favorited, 'fa-heart': favorited}" aria-hidden="true"></i>
    <textarea [(ngModel)]="newTags" autosize [useImportant]="true" [minRows]="1" [onlyGrow]="false" [maxRows]="3" class="new" type="text" placeholder="tags ..."></textarea>
    <i (click)="addTags()" class="tag fa fa-plus" [style.color]="!favorited ? 'tomato' : 'white'" aria-hidden="true"></i>
</div>
<hr *ngIf="currentTags && currentTags.length > 0" />
<div class="tags" *ngIf="currentTags && currentTags.length > 0">
    <span (click)="removeTag(t)" *ngFor="let t of currentTags">{{t}}</span>
</div>