/* Favorite */
.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fav, .tag {
    font-size: 12px;
    line-height: 2em;
    padding-bottom: 5px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.fav, .tag, .new {
    flex: 0 0 auto;
}
.fav {
    order: 1;
    padding-left: 5px;
    text-align: left;
}
.new {
    order: 2;

    margin: 0px 0px 10px 0px;
    font-weight: 600;
    color: white;
    background-color: #151515;
    border: 0;
    border-radius: 3px;
    padding: 5px 5px;
    word-spacing: 5px;
    box-sizing: border-box;
    overflow: hidden !important;
    box-shadow: 1px 2px 5px #151515;

}
*:focus {
    outline: none;
}
.tag {
    order: 3;
    padding-right: 5px;
    text-align: right;
}

/* Tags */
.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.tags > span {
    flex: 0 0 auto;

    font-weight: 800;
    font-size: 12px;
    padding: 5px;
    border: solid 1px transparent;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

span:hover {
    background-color: #151515;
    border: solid 1px #151515;
    border-radius: 3px;
    color: tomato;
    text-decoration: line-through;
}

span:hover:before {
    content: "\274c" + " ";
    color: red;
    font-size: 8px;
}