<div class="search-container">
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input formControlName="searchTerm" class="search" type="text" placeholder="Find gifs..." />
    <button type="submit" [disabled]="!searchForm.valid" class="search-submit">
        <img class="search-button" src="https://s.imgur.com/desktop-assets/desktop-assets/icon-search.8d0f9b564a4659d48d8eca38b968a7f2.svg" />
    </button>
    </form>
</div>
