/* Taken liberally from imgur's stylesheets */

input.search {
    background: rgba(31, 131, 197, 0.25);
    border: 1px solid transparent;
    padding: 8px 35px 8px 10px;
    margin-left: 10px;
    border-radius: 3px;
    width: 95%;
    outline: 0 none;
    opacity: .8;
    min-height: 25px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    z-index: -1;
    box-sizing: border-box;
    color: white;
}

button.search-submit {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: transparent;
    color: #fff;
    border: 0;
    outline: 0 none;
    padding: 8px 12px 8px 8px;
    cursor: pointer;
    z-index: 100;
}

.search-container {
    position: relative;
    margin: auto;
    max-width: 550px;
}
