div.login {
    position: relative;
    border-radius: 6px;
    border: 0px;

    background-color: #515151;

    width: 300px;
    margin: 0px;
    border: 0px;
    padding: 5px 5px 0px 5px;
    position: fixed;
    top: 10%;
    right: 10px;
    z-index: 10;
}
.messages {
    color: white;
    font-size: 12px;
    font-weight: 600;
    color: tomato;
}
.messages span {
    display: block;
    text-align: left;
    margin-left: 15px;
    padding: 0px 0px 10px 0px;
    line-height: 0.9em;
}

.logo > img {
    width: 50px;
    height: auto;
}

form {
    /*
    border: 1px solid #818181 !important;
        border: solid 2px #eee;
    */
    border-radius: 3px;
    background-color: black;
    padding: 3px 0px 0px 0px;

}

input[type=text], input[type=password] {
    width: 90%;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    background-color: #191919;
    outline: 0;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: .8em;
    line-height: 1.5em;
    resize: none;
    color: #f2f2f2;
    margin-bottom: 10px;
    letter-spacing: .02em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*float: right;*/
    border-radius: 3px;
    font-size: 0.8em;
}
  
button:hover {
    opacity: 0.8;
}

.container {
    width: 100%;
    background-color: #515151;
}
  
.cancel-btn {
    width: auto;
    background-color: #f44336;
    /*float: left;*/
}

.left {
    float: left;
}

.right {
   float: right;
}