<div *ngIf="show" class="login">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="logo">
      <img src="assets/images/giphy_logo_square_social.png" />
    </div>

    <div class="login-box">
      <!-- Name -->
      <input minlength="2" formControlName="name" type="text" class="no-select" placeholder="Name" name="name" required />
      <div class="messages" *ngIf="submitted">
      <span *ngIf="name.invalid">
          * Invalid name
        </span>
      </div>
      <!-- Email -->
      <input minlength="2" formControlName="email" type="text" class="no-select" placeholder="Email" name="email" required />
      <div class="messages" *ngIf="submitted">
      <span *ngIf="email.invalid">
          * Invalid email
        </span>
      </div>      
      <!-- Username -->
      <input minlength="2" formControlName="username" type="text" class="no-select" placeholder="Username" name="username" required />
      <div class="messages" *ngIf="submitted">
      <span *ngIf="username.invalid">
          * Invalid username
        </span>
      </div>
      <!-- Password -->
      <input minlength="8" formControlName="password" type="password" class="no-select" placeholder="Password" name="password" required />
      <div class="messages" *ngIf="submitted">
        <span *ngIf="password.invalid">
          * Invalid password
        </span>
      </div>
      <!-- Retype -->
      <input minlength="8" formControlName="password2" type="password" class="no-select" placeholder="Retype Password" name="passw0rd2" required />
      <div class="messages" *ngIf="submitted">
        <span *ngIf="repassword.invalid">
          * Invalid password
        </span>
        <span *ngIf="signupForm.hasError('notEqual')">
          * Invalid password
          </span>
      </div>
      <!-- -->
      <div class="messages" *ngIf="signupError">
        <span>* {{signupError}}</span>
      </div>
      <div class="container">
          <div class="right">
            <button type="submit">Sign up</button>
          </div>
          <div class="left">
            <button type="button" class="cancel-btn" (click)="toggleShow()">Cancel</button>
          </div>
      </div>
    </div>
  </form>
</div>  