<router-outlet></router-outlet>
<div class="flex-content">
    <!-- header -->
    <div class="topbar" style="text-align:center">
        <app-navbar></app-navbar>
    </div>

    <!-- body -->
    <div class="mid">
        <app-images></app-images>
    </div>

    <!-- footer -->
    <div class="footer"></div>
</div>