div {
    font-family: Arial, "Times New Roman", Times, serif;
}

.flex-content {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    min-height: 100vh;
}

.topbar {
    flex: 0 0 auto;
    padding: 15px 0 15px 0;
    box-shadow: 0 6px 10px 0 rgba(27,28,30,.31);
    background-image: url('/assets/images/black-wallpapers-high-definition-For-desktop-Wallpaper.jpg')
}

.mid {
    flex: 1 1 auto;
    height: 100%;
    /*background-color: tomato;;*/
}

.footer {
    flex: 0 0 auto;
    height: 35px;
    background-image: url('/assets/images/black-wallpapers-high-definition-For-desktop-Wallpaper.jpg');
    box-shadow: 0 6px 10px 0 rgba(27,28,30,.31);
    border-top: solid 1px #151515;
    opacity: 0.5;
}