/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
}

body::-webkit-scrollbar { 
    display: none; 
} 

body {
    background-color: #2e3035;
    /*min-width: 635px;*/

    font-family: Arial;
}