<div class="navbar">
    <div class="navbar-left">
        <a href="/"><span>{{ title }}</span></a>
    </div>
    <div class="navbar-center">
        <app-search></app-search>
    </div>
    <div class="navbar-right">
        <app-profile></app-profile>
    </div>
</div>