div.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
@media only screen and (max-width: 830px) {
    .navbar-left {
        display: none;
    }
}
.navbar-left {
    flex-shrink: 1;
    margin: auto 0px auto 10px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.navbar-left span {
    font-family: "Verdana";
    font-size: 16pt;
    font-weight: 800;
    color: white;
}
.navbar-center {
    flex-grow: 2;
    flex-shrink: 1;
    margin: auto;
}
.navbar-right {
    flex-shrink: 1;
    margin: auto;
}